{% extends 'blogPerris/MisPerris.html' %}

{% block content %}

<form method="post" class='formulario1'>
    <H1>Registro de Postulante</H1>
    {% csrf_token %}
    {{ form.as_p}}  
    <button type="submit">Enviar</button>
</form>
{% endblock %}