{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.perrosAdoptados').bxSlider();
        });
    </script>
    <title>Bienvenido a Mis Perris</title>
</head>

<body>
    <div class="container-fluid">

        <header>
            <div class="logo-y-menu">
                <div>{{request.user}}</div>
                <div class="row center-xs">
                    <div class="logo col-xs-12 col-sm-3">
                        <img src="static/img/logo.png" alt="">
                    </div>
                    <div class="menu col-xs-12 col-sm-9 start-sm">
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">inicio</a>
                                </li>
                                <li>
                                    <a href="#quienes">quienes somos</a>
                                </li>
                                <li>
                                    <a href="listar_rescatados">servicios</a>
                                </li>
                                <li>
                                    <a href="registro_postulante">registrate!</a>
                                </li>
                                <li>
                                    <a href="admin">conectate!</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </header>

        <section>
            
            <div class="row center-xs">
                <div class="perrosAdoptados">
                    <div>
                        <div class="textoPerros">Scott es una acompañante fiel que esta contigo en cualquier momento.</div>
                        <img src="static/img/Duque.jpg" alt="">
                    </div>
                    <div>
                        <div class="textoPerros">Spike es nuestro protector... un guardián pequeño y juguetón.</div>
                        <img src="static/img/Apolo.jpg" alt="">
                    </div>
                    <div>
                        <div class="textoPerros">Manjar es tan dulce como su nombre.</div>
                        <img src="static/img/Tom.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="telefono col-sm-3">
                    <h1>+56 9 987654321</h1>
                </div>
                <div class="frase col-sm-6 center-sm">
                    <h1>Rescate y adopcion de perros callejeros</h1>
                </div>
                <div class="redes col-xs-12 col-sm-3">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/">
                                    <span>
                                        <i class="sociales icon-facebook"></i>
                                    </span>
                                </a>
                                <a href="https://www.gmail.com/">
                                    <span>
                                        <i class="sociales icon-google-plus"></i>
                                    </span>
                                </a>
                                <a href="https://www.instagram.com/">
                                    <span>
                                        <i class="sociales icon-instagram"></i>
                                    </span>
                                </a>
                                <a href="https://www.hotmail.com/">
                                    <span>
                                        <i class="sociales icon-envelope"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
        <div class="color"> 
            
        {% block content %}
        <div class="row">
              
            <div id="quienes" class="rescate col-xs-12 col-sm-6">
                <div class="col-xs-12">
                    <h1>RESCATE</h1>
                    <br>
                    <h3>ETAPA UNO</h3>
                    <hr>
                    <br>
                    <br>
                    <br>

                </div>
                <div class="col-xs-12">
                    <p>Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los preparamos para
                        buscarles
                        un hogar.</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="perroRescate col-xs-12">
                    <img src="static/img/rescate.jpg" alt="">
                </div>
            </div>
            <div class="crowfunding col-xs-12 col-sm-6">

                <img src="static/img/crowfunding.jpg" alt="">
                <br>
                <div class="col-xs-12">
                    <h1>CROWFUNDING</h1>
                    <br>
                    <h3>FINANCIMIENTO</h3>
                    <hr>
                    <br>
                    <br>
                </div>
                <div class="col-xs-12">
                    <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que
                        realizamos
                        para obtener financiamiento para seguir ayudando.</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div>
                    <button id="boton">CAMPAÑAS</button>
                </div>
                <br>
                <br>
            </div>
            {% endblock %}
        </div>
            <div class="imagenesGrandes">

            </div>
            <script src="js/main.js"></script>
        </div>

    </div>


    </div>


    </div>
    
    </div>
  
</body>

</html>