{% extends 'blogPerris/MisPerris.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" class='formulario1'>
    <H1>Perro Rescatado</H1>
    {% csrf_token %}
    {{ form.as_p}}  
    <button type="submit">Enviar</button>
</form>


{% endblock %}