{% extends 'blogPerris/perrisList.html' %}

{% block content %}
{% for obj in object_list %}
<div class="listadoPerro">
    {% if obj.foto %}
    <div class="galeriaPerro col-xs-12">
        <img src= '{{ obj.foto.url }}'>
        <ul>Nombre:    {{obj.nombre}}</ul>
        <ul>Raza:    {{obj.raza}}</ul>
        <ul>Descripcion:    {{obj.descripcion}}</ul>
        <ul>Estado:    {{obj.estado}}</ul>
    </div>

    {% endif %}
</div>
{% endfor %}
{% endblock%}